@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@layer base {
  html {
    font-family: "Ubuntu", sans-serif;
  }
  body {
    @apply bg-[#DCDED0] text-[#1f2937] tracking-wide  mx-auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl;
  }
  h2 {
    @apply text-3xl sm:text-4xl;
  }

  li {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5] to-[#709dff] text-white;
  }
  .car_pred {
    color: aqua;
  }

  .block_scroll {
    @apply overflow-hidden overflow-y-hidden;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
}

::view-transition-new(root) {
  z-index: 9999;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
